<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.furqan.res.social.mobile.app.Restaurant_social_mobile_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
